.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--navbar-height);
}

.Logo {
  width: 180px;
}

.links {
  display: flex;
  align-items: center;
  gap: 50px;
   a {
     font-family: var(--font-family);
     font-weight: 700;
     font-size: 15px;
     line-height: 173%;
     letter-spacing: -0.01em;
     color: var(--main-color-text);
   }
}


@media (max-width: 414px) {
  .links a {
      display: none;
    }
}