.IntegrationApi  {
  padding-top: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 150px;
}

.Title {
  font-weight: 700;
  font-size: var(--font-size-m);
  line-height: 121%;
  letter-spacing: -0.04em;
  color: var(--title-color);
  margin-bottom: 30px;
}

.Subtitle {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: var(--font-size-sm);
  line-height: 152%;
  letter-spacing: -0.02em;
  color: var(--title-color);
  margin-bottom: 10px;
}

.Description {
  font-weight: 400;
  font-size: var(--font-size-s);
  line-height: 171%;
  letter-spacing: -0.01em;
  color: var(--text-color);
}

.CodeCard {
  border-radius: 8px;
  width: 632px;
  height: 560px;
}